@model ReportAnIssue.Models.Issue
@if (User.IsInRole("Admin"))
{
    <h3>Czy na pewno chcesz usunąć usterkę?</h3>
    <div>
        <h4>Usterka</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Tytuł: </dt>
            <dd>@Html.DisplayFor(model => model.Title)</dd>

            <dt>Nr inwentarzowy: </dt>
            <dd>@Html.DisplayFor(model => model.InventoryNumber)</dd>

            <dt>Opis usterki: </dt>
            <dd>@Html.DisplayFor(model => model.Description)</dd>

            <dt>Data usterki: </dt>
            <dd>@Html.DisplayFor(model => model.StartDate)</dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn-link" />| 
                @Html.ActionLink("Wróć", "Index", "Home", htmlAttributes: new { @style = "margin-left: 10px;" })
            </div>
        }
    </div>
}
