@model ReportAnIssue.ViewModels.IssueListViewModel
@{
    /**/

    ViewBag.Title = "System zgłoszeń";
}

<div class="jumbotron">
    <h1>System zgłoszeń</h1>
</div>
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

@if (TempData["Fail"] != null)
{
    <p class="alert alert-warning" id="successMessage">@TempData["Fail"]</p>
}
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div>
            <h2>Lista usterek!</h2>
            @foreach (var item in Model.Types)
            {
                if (Model.IssuesVM.Count(i => i.TypeId == Convert.ToInt16(item.Value)) != 0)
                {
                    <h4>@Html.DisplayFor(typeItem => item.Text)</h4>
                    <table class="table table-striped">
                        <tr>
                            <th style="width: 15%">Nr. inwentarzowy</th>
                            <th style="width: 15%">Użytkownik</th>
                            <th style="width: 30%">Tytuł</th>
                            <th style="width: 15%">Data utworzenia</th>
                            <th style="width: 15%">Czas</th>
                            <th style="width: 5%">  </th>
                            <th style="width: 5%">  </th>
                        </tr>
                        @foreach (var issue in Model.IssuesVM.Where(i => i.TypeId == Convert.ToInt16(item.Value)))
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => issue.InventoryNumber)</td>
                                <td>@Html.DisplayFor(modelItem => issue.userName)</td>
                                <td>@Html.DisplayFor(modelItem => issue.Title)</td>
                                <td>@Html.DisplayFor(modelItem => issue.StartDate)</td>
                                <td>@Html.DisplayFor(modelItem => issue.TimeElapsed)</td>
                                <td>@Html.ActionLink("więcej", "Details", "Issue", new { id = issue.Id }, null)</td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td>@Html.ActionLink("usuń", "Delete", "Issue", new { id = issue.Id }, null)</td>
                                }
                            </tr>
                        }
                    </table>
                }
            }
        </div>
    </div>
}
else
{
    <div>
        <h2>Zaloguj się, aby dodać usterkę</h2>
    </div>
}